<!DOCTYPE html>
<!--
导入thymeleaf约束
thymeleaf模板引擎接管html
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>模板引擎的使用</title>
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>

<h1>-----多语言翻译-----</h1>

<div class="venus">---国际多语言---[[#{login.title}]]</div>
<!--
路径用@（类目录）  th:***="@{/***/}"
-->
<a th:href="@{/water.html(lang='zh_CN')}">中文</a>
<a th:href="@{/water.html(lang='en_US')}">英文</a>

<hr><br>
<h1>-----属性动态绑定-----</h1>
<img class="mercury" th:src="@{/img/bill@2x.png}">
<h3 th:text="${msg}"></h3>
<h3 th:utext="${msg}"></h3>
<h3>[[${msg}]]</h3>

<hr><br>
<h1>-----遍历-----</h1>
<h3 th:each="item:${users}" th:text="${item}"></h3>


</body>
</html>