<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stars.mapper.shoppingMall.PmsProductAttributeValueMapper">
    <resultMap id="BaseResultMap" type="com.stars.pojo.shoppingMall.PmsProductAttributeValue">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="product_id" jdbcType="BIGINT" property="productId" />
        <result column="product_attribute_id" jdbcType="BIGINT" property="productAttributeId" />
        <result column="value" jdbcType="VARCHAR" property="value" />
    </resultMap>

    <delete id="deleteWay" parameterType="java.lang.Long">
        delete from pms_product_attribute_value where product_id = #{productId,jdbcType=INTEGER}
    </delete>

    <insert id="insertList">
        insert into pms_product_attribute_value (product_id,product_attribute_id,value) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.productId,jdbcType=BIGINT},
            #{item.productAttributeId,jdbcType=BIGINT},
            #{item.value,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>