<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stars.mapper.shoppingMall.SmsCouponProductCategoryRelationMapper">
    <resultMap id="BaseResultMap" type="com.stars.pojo.shoppingMall.SmsCouponProductCategoryRelation">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
        <result column="product_category_id" jdbcType="BIGINT" property="productCategoryId" />
        <result column="product_category_name" jdbcType="VARCHAR" property="productCategoryName" />
        <result column="parent_category_name" jdbcType="VARCHAR" property="parentCategoryName" />
    </resultMap>

    <insert id="insertList">
        INSERT INTO sms_coupon_product_category_relation (product_category_id,product_category_name,parent_category_name,coupon_id) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.productCategoryId,jdbcType=BIGINT},
            #{item.productCategoryName,jdbcType=VARCHAR},
            #{item.parentCategoryName,jdbcType=VARCHAR},
            #{item.couponId,jdbcType=BIGINT})
        </foreach>
    </insert>

    <!--  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

    <delete id="deleteWay" parameterType="java.lang.Long">
        delete from sms_coupon_product_category_relation
        where coupon_id = #{id,jdbcType=BIGINT}
    </delete>
</mapper>