<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
    name就是实体类的名字
-->
<form th:action="@{/season/add}" method="post">
    <div class="form-group">
        <label>姓名：</label>
        <input type="text" name="lastName" placeholder="请输入姓名">
    </div>
    <div class="form-group">
        <label>邮箱：</label>
        <input type="email" name="email" placeholder="请输入邮箱">
    </div>
    <div class="form-group">
        <label>性别：</label>
        <p>
            <input type="radio" name="gender" value="1">
            <label>男</label>
        </p>
        <p>
            <input type="radio" name="gender" value="0">
            <label>女</label>
        </p>
    </div>
    <div class="form-group">
        <label>部门：</label>
        <!--    部门遍历  注意这个name   -->
        <select name="departmentPojo01.id">
            <option th:each="item:${departmentList}" th:text="${item.getDepartmentName()}" th:value="${item.getId()}"></option>
        </select>
    </div>
    <div class="form-group">
        <label>生日：</label>
        <input type="text" name="birth" placeholder="请输入生日">
    </div>
    <button type="submit">确定</button>
</form>
</body>
</html>